body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    background-color: #86cfe9;
    color: black;
    padding: 10px;
}

.image-left {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    height: 60px;
    width: 120px;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative; 
}

.user-info span {
    margin-right: 10px;
}

.menu-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px; 
    right: 10px; 
    background-color: #86cfe9; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px; 
    transition: max-height 0.3s ease-out; 
    overflow: hidden; 
    max-height: 0; 
}

.dropdown-menu.show {
    display: block;
    max-height: 100px; 
}

#logout-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite el ajuste en mÃºltiples lÃ­neas */
    height: calc(100vh - 80px); 
    background-color: #d6ebf2; 
    width: 96%;
    height:90%;
    margin: 2%;
}

.icon-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #004faa; 
    padding: 20px;
    border-radius: 10px;
    margin: 1%; /* Ajuste para separaciÃ³n y alineaciÃ³n */
    cursor: pointer;
    position: relative; 
    width: 20%; /* Ajuste del ancho para adaptarse a tres por lÃ­nea */
    height:300px;
    box-sizing: border-box; /* Asegura que padding y border estÃ©n incluidos en el ancho total */
}

.icon-container p {
    margin-top: 10px; 
    color: white; 
    font-size: 26px;
    text-align:center;
}

.main-icon {
    width: 120px;
    height: 120px;
    fill: white; 
    transition: fill 0.3s ease;
}

.icon-container:hover .main-icon {
    fill: #fff;
}
